%div#game-console
  %p
    You have 
    = @game_player.armies_to_allocate
    armies to allocate
  %form
    %fieldset
      %label
        %span 
          Your countries
          %p
            %select
              - @game_player.countries.each do |c|
                %option
                  = c.name
      %label
        %span
          Available armies
          %p
            %select
              - @game_player.armies_to_allocate.times do |t|
                %option
                  = t+1
              
    %fieldset
      = submit_tag 'Add', :class => "submit"
