%div#game-console
  %p
    @game_player.player.name
    are you ready to kick some ass?
  %form
    %fieldset
      %label
        %span 
          Attack from
          %p
            %select{:id => "attacker_country_id", :onchange => "get_neighbours(#{@game_player.id}, #{@game_player.game_id})"}
              - @game_player.countries.each do |c|
                %option{:value => c.id}
                  = c.name
      %div#attack_target

