%div#game-console
  %p
    = @game_player.player.name
    are you ready to kick some arse?
  %form
    %fieldset
      %ol
        %li
          %label Attack from
          %select{:id => "attacker_country_id", :onchange => "get_neighbours(#{@game_player.id}, #{@game_player.game_id})"}
            %option Please choose
            - @game_player.armed_countries.each do |c|
              %option{:value => c.id}
                = c.name
          
        %span#attack_target

